<div class="row">
  <div class="col-xs-10">
    <h1><%= @user.email %>'s posts</h1>
  </div>
  <div class="col-xs-2 text-right">
    <% if user_signed_in? && !current_user.following?(@user) && @user != current_user %>
      <h1><%= link_to "Follow", relationships_path(@user.id), class: "btn btn-primary", method: "post" %></h1>
    <% elsif user_signed_in? && current_user.following?(@user) %>
      <h1><%= link_to "Unfollow", relationship_path(@user), class: "btn btn-primary", method: "delete" %></h1>
    <% end %>
  </div>  
</div>

<%= render @posts %>