<div class="row">
  <% if user_signed_in? && post.user_id == current_user.id %>
  <div class="col-xs-10">
  <% else %>
  <div class="col-xs-12">
  <% end %>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <small><%= link_to post.created_at.to_time.strftime('%b %e at %I %M %p'), user_path(post.user_id) %></small>
  </div>
  <% if user_signed_in? && post.user_id == current_user.id %>
    <div class="col-xs-2 text-right">
      <%= link_to "<i class=\"fa fa-trash\"></i>".html_safe, post_path(post), method: "delete" %>
    </div>
  <% end %>
</div>
<hr>